body {
  font-family: $body-text;
  background: $white;
  color: $black;
  cursor: default;
}

.wrapper {
  margin: 0 auto;
  max-width: 850px;
}

header,
main,
footer {
  text-align: center;
}

h1,
button {
  font-family: $header-text;
  color: $blue;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  color: $black;
}

.bold {
  font-weight: 700;
}

textarea {
  resize: none;
}